* {
   box-sizing: border-box;

}

body{
    margin: 0;
    font-weight: bold;
    font-family: Helvetica;
}

.page-wrapper {
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    background-color: lightgrey;
    justify-content: space-between;
    align-items: center;
}

a{
    display: inline-block;
    padding: 10px;
}

a:hover{
    color: #3B94D9;
}

.logo{
    font-size: 3em;
    padding: .2em 0 .2em 0;
    flex-grow: 10;
    display: flex;
    justify-content: center;
}