.page-wrapper{
    height: 100vh;
    font-family: Kailasa;
}

.main-header{
    text-align: center;
}

.row h2{
    color: mediumpurple;
    text-decoration: underline;
}

.row ul{
    list-style-type: circle;
}

.row ol{
    list-style-type: square;
}

a:hover{
    color: mediumpurple;
}





.table-style {
    margin-left: 50px;
    margin-bottom: 25px;
    border: 5px black;
}
th,td{
    border: 1px solid black;
    padding: 10px;
}
.table-style{
    border-collapse: collapse;
}




